/* Pagination */
.load-more-section {
  margin: 20px 0;
  text-align: center;

  @media only screen and (max-width: $mobile) {
    margin: 0;
  }
}

.load-more-posts {
  position: relative;
  display: inline-block;
  min-width: 220px;
  padding: 15px 30px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #fff;
  background-color: $brand-color;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: darken($brand-color, 3%);
  }

  i {
    margin-left: 5px;
  }
}